body {
    background-image: url(imagens/reinaldoBackground.png);
    background-size:cover;
    overflow: hidden;
}

.display-none {
    display: none;
}

.titulo-e-subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3vmax;
}

#div-mostrar-naldocoins {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        max-width: 4%;
    }
}

#naldocoins-texto {
    color: white;
    font-size: 20px;
    margin-inline: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#NALDOCOINS {
    color: white;
    padding-top: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#div-botao-kamke-clicker {
    position: relative;
    display: flex;
    justify-content: center;
}

#kamke-clicker{
    border-radius: 20px;
    border: none;
    background-image: url(../visual/imagens/reinaldo1.jpg);
    background-size: 100%;
    width: 100%;
    max-width: 20%;
    height: 25vmax;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 8px 8px 0px 0px rgb(145, 142, 18);
    transition: 0.2s all;
}

.div-cursor-comprado {
    display: flex;
    align-items: center;
    right: 30%;
    position: absolute;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    img {
        height: 15vmin;
    }
}

.div-badzin-comprado {
    display: flex;
    align-items: center;
    right: 30%;
    bottom: 40%;
    position: absolute;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
    img {
        height: 15vmin;
    }
}

.div-ruan-comprado {
    display: flex;
    align-items: center;
    right: 30%;
    bottom: 10%;
    position: absolute;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
    img {
        height: 15vmin;
    }
}

#kamke-clicker:active {
    transform: translateY(5px);
    box-shadow: 13px 13px 0px 0px rgb(77, 56, 0)
}

#loja {
    position: absolute;
    top: 20%;
    right: 0;
    float: right;
    margin: 0;
    padding: 2vmin;
	width: 100%;
    max-width: 20%;
    background-color: rgb(214, 213, 119);
}

#loja-logo {
    margin-left: 30%;
    margin-right: 30%;
}

.naldocoin-preview {
    width:100%;
    max-width:3vmin;
}

.display-flex-mensagens-e-botoes {
    display: flex;
    align-items: center;
}

#compra-cursor {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 55%;
    #cursor-imagem {
        width:100%;
        max-width:10vmin;
    }
}

.botao-gustavo {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 55%;
    .imagem-gustavo-botao {
        width:100%;
        max-width: 9vmin;
    }
}

.botao-ruan {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 55%;
    .imagem-ruan-botao {
        width:100%;
        max-width: 9vmin;
    }
}

.mensagem-explicacao-botoes-desbloqueados {
    display: none;
    background-color: black;
    color: #fff;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    width: 100%;
    max-width:40%;
}

.mensagem-explicacao-botoes-bloqueados {
    display: none;
    background-color: black;
    color: #ff0000;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    width: 100%;
    max-width:40%;
}